<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="so101_ros2_control" type="system">
      <hardware>
          <!-- By default, set up controllers for simulation. This won't work on real hardware -->
          <plugin>mock_components/GenericSystem</plugin>
      </hardware>
      <joint name="Rotation">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="Pitch">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="Elbow">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="Wrist_Pitch">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="Wrist_Roll">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="Jaw">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>

  </ros2_control>
</robot>
